@import url(//db.onlinewebfonts.com/c/157c6cc36dd65b1b2adc9e7f3329c761?family=Amazon+Ember);
/* main content */
body {
    margin: 0;
    padding: 0;
    font-family: "Amazon Ember";
    background: grey;
    overflow-x: hidden;
}

/* header section */
 header{
    margin: 0;
    padding: 0;
    background: #232F3E;
    color: #FFFFFF;
    font-size: 3rem;
} 

 header .logo{
    padding: 0;
    margin: 0;
    margin-right: -0.1em;
    margin-left: -0.3em;
    padding-right: 29%;
    height: 3em;
} 

 header .account{
    height: 2.5em;
}

header .cart{
    height: 2.5em;
    padding-right: 1em;
} 

.menu{
    height: 3em;
    padding-right: 1em;
}

header form input{
    position: relative;
    width: 97%;
    height: 2em;
    font-size: 3rem;
    margin-left: 0.3em;
    border-radius: 20px;
} 

form img{
    margin-top: 0.1em;
    width: 70px;
    height: 80px;
}

header form button{
    position: absolute;
    border-radius: 20px;
    border-style: none;
    margin-left: -10.1em;
    margin-top: 0.3em;
    height: 6.5em;
    width: 10em;
    background:#FF9900;
} 

 header ul {
    padding-top: 0.8em;
    padding-left: 0.4em;
    padding-bottom: 0.8em;
} 

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav{
    white-space: nowrap;
}

.top{
    padding-left: 1em;
}

section img {
    width: 45%;
    border-radius: 2%;
    box-shadow: 4px 4px 4px #28282954;
}

.bottom{
    margin-top: -2.5em;
    background: #232F3E;
    color: #FFFFFF;
}

.Links{
    padding-left: 1em;
    padding-bottom: 1em;
    background: #2e3e50;
    font-size: 3rem;
}

.Footer {
    background: #19222c;
    padding-top: 1em;
    padding-bottom: 1em;
}

 .containers{
    background: white;
    margin-top: -2.7em;
    margin-left: -1em;
    padding-left: 1em;
 }

table h4{
    margin-top: 0;
    font-size: 3rem;
}

table, td, tr{
    margin-right: 2%;
    margin-left: 2%;
}

td{
    padding-right: 5em;
}
tr img{
    width: 50em;
    height: 35em;
}

.ps4game{
    height: 50em;
}

.gaming{
    padding-bottom: 14.4em;
}
/* Links */
.logoicons {
    display: inline-block;
    width: 100%;
    height: 2%;
    }

    .achor{
        padding-top: 0.3em;
        padding-bottom: 0.3em;
        text-align: center;
        font-size: 3rem;
    }

header ul li{
    display: inline;
    padding-left: 0.1em;
}

.Footer ul {
    padding-top: 0.5em;
    text-align: center;
}

/* Text section */
::placeholder{
    color: rgb(175, 170, 170);
    padding-left: 0.5em;
}

section h4{
    margin-bottom: 0em;
    padding-bottom: 0.5em;
}

p {
    padding-bottom: 0.5em;
    font-size: 3rem;
}

.lang li{
    display: inline;
    font-size: 3rem;
}

.copyrightcontent li{
    margin: 0;
    padding-right: 0.5em;
    display: inline;
    font-size: 2.5rem;
}

.containers h2{
    padding-top: 0.5em;
    font-size: 3.5rem;
}

.Footer p {
    text-align: center;
}
